.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.welcome-message {
  font-size: 5rem;
}

.form-input {
  font-size: 4rem;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}
